/*
THIS SITE IS OPTIMISED FOR TABLETS ONLY!!! MAINLY IPADS!
THE CLIENT WANTED IT USED FOR IPAD MINI OR IPAD 2/3/4/AIR
*/

html
{
	width: 100%;
	margin: 0;
	padding: 0;
}

ul { margin-bottom: 20px; }

li
{
	margin: 0;
	padding: 0;
	list-style: none;
}

body
{	
	font-size: 25px;
	color: black;
	width: 100%;
	background: white;
	text-align: left;
	@media only screen and (min-width : 768px) and (max-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)
	{ 
		width: 100%;
		margin: 0 auto;
		padding: 0; 
	} 
}

header 
{
	width: 100%;
	height: 80px;
	background: #4d74a8;
	@media only screen and (min-width : 768px) and (max-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)
	{ 
		width: 100%;
		height: 80px; 
	} 
}

label 
{ 
	padding-left: 10px;
	@media only screen and (min-width : 768px) and (max-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)
	{ 
		padding: 0;
		margin: 0;
		width: 100%;
	} 
}

input 
{
	@media only screen and (min-width : 768px) and (max-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)
	{ 
		padding: 0;
		margin: 0 10px;
	} 
 	margin-left: 10px; 
}
p 
{
	margin-left: 10px;
	@media only screen and (min-width : 768px) and (max-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)
	{ 
		margin-left: 0;
	} 

}
img
{
	margin-left: 10px;
	margin-top: 10px;
}
br { clear: both; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }


#bodyContainer
{
	width: 960px;
	margin: 0 auto;
	padding: 0;
	@media only screen and (min-width : 768px) and (max-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)
	{ 
		width: 768px;
		margin: 0 auto;
		padding: 0;
	} 

}

#areYou{

	ul{
		li{
			@media only screen and (min-width : 768px) and (max-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)
			{ 
				width: 768px;
				margin: 0 auto;
				padding-bottom: 20px;
				
			} 
			float: left;		
		}
	}
	
}