/*
THIS SITE IS OPTIMISED FOR TABLETS ONLY!!! MAINLY IPADS!
THE CLIENT WANTED IT USED FOR IPAD MINI OR IPAD 2/3/4/AIR
*/

html
{
	width: 100%;
	margin: 0;
	padding: 0;
}

ul { margin-bottom: 20px; }

li
{
	margin: 0;
	padding: 0;
	list-style: none;
}

body
{	
	font-size: 25px;
	color: black;
	width: 100%;
	background: white;
	text-align: left;
	@media only screen and (min-width : 768px) and (max-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)
	{ 
		width: 100%;
		margin: 0 auto;
		padding: 0; 
	} 
}

header 
{
	width: 100%;
	height: 80px;
	background: #4d74a8;
	@media only screen and (min-width : 768px) and (max-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)
	{ 
		width: 100%;
		height: 80px; 
	} 
}

label 
{ 
	padding-left: 10px;
	@media only screen and (min-width : 768px) and (max-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)
	{ 
		padding: 0;
		margin: 0;
		width: 100%;
	} 
}

input 
{
	@media only screen and (min-width : 768px) and (max-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)
	{ 
		padding: 0;
		margin: 0 10px;
	} 
 	margin-left: 10px; 
}
p 
{
	margin-left: 10px;
	@media only screen and (min-width : 768px) and (max-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)
	{ 
		margin-left: 0;
	} 

}
img
{
	margin-left: 10px;
	margin-top: 10px;
}
br { clear: both; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
#questions{ margin-top: 10px; margin-left: 10px; }
.left { float: left; }

#bodyContainer
{
	width: 960px;
	margin: 0 auto;
	padding: 0;
	@media only screen and (min-width : 768px) and (max-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)
	{ 
		width: 768px;
		margin: 0 auto;
		padding: 0;
	} 

}

#submitButton
{
	border: 1px solid #4d74a8;
	background: #4d74a8;
	padding: 10px;
	font-size: 45px;
	font-weight: bold;
	border-radius: 5px;
	color: #ffffff;
	display: inline-block;
	letter-spacing: 1px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	min-width: 768px;
	padding: 7px 20px;
	text-align: center;
	margin: 20px 0;
	@media only screen and (min-width : 768px) and (max-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)
	{ 
		-webkit-appearance: none;
		display: inline;
		max-width: 1024px;
		min-width: 740px;
		margin: 20px 0px;
		padding: 7px 0px;
	} 
}

#submitButton:hover
{
	background: -moz-linear-gradient(center top , rgb(77, 116, 168), rgb(61, 92, 134)) repeat scroll 0% 0% rgb(105, 167, 78);
	background: -ms-linear-gradient(center top , rgb(77, 116, 168), rgb(61, 92, 134)) repeat scroll 0% 0% rgb(105, 167, 78);	
	background: -webkit-gradient(linear, center top, center bottom, from(#4d74a8), to(#3d5c86));
	background: -webkit-linear-gradient(top, #4d74a8, #3d5c86);
}

#submitButton:active{
    -webkit-box-shadow: inset 0 1px 1px #4d74a8;
    -moz-box-shadow: inset 0 1px 1px #4d74a8;
    box-shadow: inset 0 1px 1px #4d74a8; 
    background: #a4e388;
    border: 1px solid #a4e388;
    box-shadow: 0px 1px 1px #a4e388 inset;
}

input::-webkit-input-placeholder {
   color: red;
}

input:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

input:-ms-input-placeholder {  
   color: red;  
}

input[type="text"]
{
	padding: 10px;

}


#linkToResult
{
	@media only screen and (min-width : 320px) and (max-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)
	{ 
		display:none;
	} 
	width: 960px;
	margin: 0 auto;
	a{
		color: black;
	}
}